<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Over</title>
    <link rel="stylesheet" href="/css/style.css">

    <script>
        // Fetch
        window.onload = function() {
            const score = localStorage.getItem('score');
            const time = localStorage.getItem('time');
            
            // Display
            document.getElementById('score').textContent = score ? score : "0";
            document.getElementById('time').textContent = time ? time : "0:00";
        };
    </script>
</head>
<body>
    <div class="lost-message">
        <h1>Game Over! You Lost!</h1>
        <p>Score: <span id="score">0</span></p>
        <p>Time: <span id="time">0:00</span></p>
        <button class="home-button" onclick="window.location.href='/'">Go Back to Home</button>
        <button class="retry-button" onclick="window.location.href='/game'">Try Again</button>
    </div>
</body>
</html>

